/* local file installation for custom font*/
@font-face {
    font-family: "Satisfy-Regular";
    src: local('/recipes/Satisfy-Regular.ttf');
}

h1 {
    font-family: "Tangerine", sans-serif;
    text-align: center;
    font-size: 70px;
}